:root {
    --site-red: #cf1259;
    --site-blue-sapphire: #0b4f6c;
    --site-cyan: #01BAEF;
    --site-white: #FBFBFF;
    --site-black: #040F16;
}

/* Color reference: https://coolors.co/cf1259-0b4f6c-01baef-fbfbff-040f16 */