{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<h3>So What Is This Thing Exactly?</h3>
<img src=".././static/./images/seattle_pic.jpg"
  alt="Yep, that's me!" width = "200px" height = "auto" class = "responsive"/>
<br>
<div class="container" style="text-align: left;">
    <p>This website is my Final Project for <a href = "https://www.edx.org/course/cs50s-introduction-to-computer-science" target="_blank" rel="noopener noreferrer">CS50 Edx Course 2020.</a> 
        <br>    
        <p>My goal was to create a website that would show a user their "Florida Man Horoscope", which I had learned about years back. A Florida Man Horoscope is created by 
            typing in your date of birth into Google + <a href="http://letmegooglethat.com/?q=Dec+30+florida+man">"Florida Man"</a> and the list of headlines that return are your horoscope. 
            (Here's an <a href="https://floridaman.onrender.com/random">example</a>.)</p>
        
        <p><b>Origin of the Meme:</b> <a href = "https://knowyourmeme.com/memes/florida-man" target="_blank" rel="noopener noreferrer">Know Your Meme </a></p>
        <p><b>Wikipedia:</b> <a href = "https://en.wikipedia.org/wiki/Florida_Man " target="_blank" rel="noopener noreferrer"> Link</a>
        <p><b>Video Demo of Website:</b><a href = "https://www.youtube.com/watch?v=ZJLiHFGGbJc&ab_channel=Jugglerman" target = "_blank" rel="noopener noreferrer"> Link </a>
        <p><b>Github Repo:</b><a href = "https://github.com/smhenderson89/FloridaMan" target="_blank" rel="noopener noreferrer"> Link</a></p>
        
        <p>To accomplish this I built a <a href="https://en.wikipedia.org/wiki/Web_scraping" target="_blank" rel="noopener noreferrer"">web-scraper</a> that would search for 'Florida Man' headlines and save the results from every day of the year (including leap year). I put those results into a database and any user can query them while searching the website.</p>
        <p>Tools I used to create website:</p>
        <ul id = "tools">
            <li style = "list-style: none;">Python (<a href = "https://www.python.org/">link</a>)</li>
            <li style = "list-style: none;">Sqlite3 (<a href = "https://www.sqlite.org/index.html">link</a>)</li>
            <li style = "list-style: none;">Flask (<a href = "https://flask.palletsprojects.com/en/1.1.x/">link</a>)</li>
            <li style = "list-style: none;">Heroku (<a href = "https://dashboard.heroku.com/">link</a>)</li>
            <li style = "list-style: none;">VS Code (<a href = "https://code.visualstudio.com/">link</a>)</li>
        </ul>
        <p>Thanks to all the mods and students from <a href = "https://discord.com/invite/cs50">CS50 Discord</a> who helped me along the way!</p>
        <h4>Further Reading:</h4> <a href = "https://www.washingtonpost.com/news/magazine/wp/2019/07/15/feature/is-it-okay-to-laugh-at-florida-man-2/" target="_blank" rel="noopener noreferrer">Is it Ok to Laugh at Florida Man?</a> <i>("What it’s like to go viral as one of the Internet’s biggest memes — and the moral complications of laughing along.")</i></p>  
</div>

{% endblock %}




