{% extends "layout.html" %}

{% block title %}
    Your Birthday
{% endblock %}


{% block main %}

<h3> Congrats! Your Birthday Flordia Man Horoscopes for {{month}} - {{day}} are:</h3>
<br>
<table>
    <tbody>
    {% for query in querys%}
        <tr>
            {{ query[0].title() }} | <a href = "{{ query[1] }}">Link</a>
            <br><br>
        </tr>
    {% endfor %}
    </tbody>
</table>

<form action="/today" method = "post">
    <input type="submit" value="Return to homepage">
  </form>
  
{% endblock %}




