{% extends "layout.html" %}

{% block title %}
    Error Page
{% endblock %}

{% block main %}

<h3>Error Page</h3>
<img src=".././static/./images/florida_icon_photo.jpg"
  alt="Erorr message" width = "200px" height = "auto" class = "responsive"/>
<br>
<div class="container" style="text-align: left;">
    <h2>Ooops!</h2>
    <div>Looks like the website encounter an error!</div>
    <div>Error Code: </div>
    <br>
    <div>Return to the main page <a href="/today" >here: </a></div>
</div>

{% endblock %}




