{% extends "layout.html" %}

{% block title %}
    Horoscope
{% endblock %}

{% block main %}
<script>
    // When a month is selected, pass the correct range of dates as an option
    var monthSel = document.getElementById("month");
    monthSel.onchange = function() {
        /* var month_num = document.getElementbyValue("month"); 
        TODO: Not able to capture choice from form */ 
        /* var daysInMonth = new Date(2020, 3, 0).getDate(); */
        document.getElementById("demo").innerHTML = "31"; }
</script> 

<!-- Work on creating dynamic array, for now work on web scrapping-->
<h3>Enter your Date of Birth</h3>
<form name = "dob" id = "dob">
    Month: <select name = "month" id = "month">
        <option value = '-Choose-' selected = "-Choose-">-Choose-</option>
        <option value = '1'>January</option>
        <option value = '2'>February</option>
        <option value = '3'>March</option>
        <option value = '4'>April</option>
        <option value = '5'>May</option>
        <option value = '6'>June</option>
        <option value = '7'>July</option>
        <option value = '8'>August</option>
        <option value = '9'>September</option>
        <option value = '10'>October</option>
        <option value = '11'>November</option>
        <option value = '12'>December</option>
    </select>
    <br>
    <button onclick = "seechoice()">See choice</button>
    <br>
    Month Selected: 
    <p id = "demo">Test</p>
    <br>
    Day: <select name = "day" id = "day">
        <option value = '-Choose-' selected = "selected">-Choose-</option>
    </select>
    <br><br>
    <input type = "submit" value = "Submit">
</form>
{% endblock %}