<!DOCTYPE html>
<html lang="en">
<head>
  <title>Florida Man Horoscope</title>
  <link ref="style"    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/static/favicon.ico" rel="icon">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="/static/js/script.js"></script>
</head>
    <body>
        <div class="container">
          <h1>Florida Man Horoscope</h1>
        </div>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto nav-fill w-100">
                <li class="nav-item active">
                  <a class="nav-link" href="/today">Today v2</a></li>
                <li class="nav-item active">
                  <a class="nav-link" href="/random">Random</a>
                </li>
                <li class="nav-item active">
                  <!-- <a class="nav-link" href="#">Serach</a> -->
                  <!-- Insert birthday form here -->
                    <form name="birthday2" id="form1" action ="/birthday2" method = "POST">
                      <select name="month" id="month">
                              <option value="" selected="selected">Month</option>
                      </select>
                      <select name="day" id="day">
                          <option value="" selected="selected">Day</option>
                      </select>
                        <input type="submit" value="Search Birthday">  
                    </form>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/about">About</a>
                </li>
              </ul>
            </div>
          </nav>

  <!-- Import flask flash message for jinja -->
        {% with messages = get_flashed_messages(category_filter=["success"]) %}
          {% if messages %}
            {% for message in messages %}
                  <header>
                    <div class="alert alert-success border text-center" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </header>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
          {% for message in messages %}
                <header>
                  <div class="alert alert-danger border text-center" role="alert">
                      {{ get_flashed_messages() | join(" ") }}
                  </div>
              </header>
          {% endfor %}
        {% endif %}
      {% endwith %}

          <main class="container p-4">
              {% block main %}{% endblock %}
          </main>
    </body>
</html>
