{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<h1>Test layout for css</h1>
<main class="container p-5">
              
    <h3>Flordia Man Horoscopes for 06 - 01:</h3>
    <table class="table">
        <thead>
            <tr>
                <!-- <th scope = "col">Link</th>
                <th scope = "col">Headline</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <td>
                        <a href="https://www.jacksonville.com/news/20180906/naked-florida-man-starts-house-fire-while-baking-cookies-on-george-foreman-grill/1">Link</a>
                    </td>
                    <td>Naked Florida Man Starts House Fire While Baking Cookies On George Foreman Grill
                    </td>
                </th>
            </tr>
            <tr>
                <th scope="row">
                    <td>
                        <a href="https://www.jacksonville.com/news/20180906/naked-florida-man-starts-house-fire-while-baking-cookies-on-george-foreman-grill/1">Link</a>
                    </td>
                    <td>Naked Florida Man Starts House Fire While Baking Cookies On George Foreman Grill
                    </td>
                </th>
            </tr>

            <tr></tr>
        </tbody>

    </table>
    
    
                Naked Florida Man Starts House Fire While Baking Cookies On George Foreman Grill | <a href="https://www.jacksonville.com/news/20180906/naked-florida-man-starts-house-fire-while-baking-cookies-on-george-foreman-grill/1">Link</a><br>
                Florida Man Calls 911 To Report Himself Drunk Driving - News  | <a href="https://www.jacksonville.com/news/florida/2018-01-06/florida-man-calls-911-report-himself-drunk-driving">Link</a><br>
                Florida Man Charged With Pouring Ketchup On Girlfriend - Wctv | <a href="https://www.wctv.tv/content/news/Florida-man-charged-with-pouring-ketchup-on-girlfriend-510927881.html">Link</a><br>
                Man Arrested For Throwing Cheeseburger At Pregnant Woman | <a href="https://time.com/2811079/man-arrested-for-throwing-cheeseburger-at-pregnant-woman/">Link</a><br>
                Florida Man Breaks Into Deland Church Steals 2000 Worth Of Items Deputies Say | <a href="https://www.clickorlando.com/news/local/2020/06/01/florida-man-breaks-into-deland-church-steals-2000-worth-of-items-deputies-say/">Link</a><br>
                Naked Florida Man Accused Of Bizarre Crime Spree That Included Trying To Kiss Elderly Woman | <a href="https://www.clickorlando.com/news/2020/06/09/naked-florida-man-accused-of-bizarre-crime-spree-that-included-trying-to-kiss-elderly-woman/">Link</a><br>
                Florida Man Accidentally Shoots Woman To Death During Foreplay Officials Say | <a href="https://ktla.com/news/nationworld/florida-man-accidentally-shoots-woman-to-death-during-foreplay-officials-say/">Link</a><br>
                Florida Man Calls 911 To Report Himself Drunk Driving - Ap News | <a href="https://apnews.com/article/bce05ddcbccb4341b8cc552ec4d9bb97">Link</a><br>
                Florida Man Arrested After Allegedly Pouring Ketchup On  | <a href="https://www.fox29.com/video/571664">Link</a><br><table>
        <tbody>
        
            <tr>
                
            </tr>
        
            <tr>
                
            </tr>
        
            <tr>
                
            </tr>
        
            <tr>
                
            </tr>
        
            <tr>
                
            </tr>
        
            <tr>
                
            </tr>
        
            <tr>
                
            </tr>
        
            <tr>
                
            </tr>
        
            <tr>
                
            </tr>
        
        </tbody>
    </table>
              </main>
{% endblock %}




