{% extends "layout.html" %}

{% block title %}
    Today
{% endblock %}

{% block main %}

<h3>The Flordia Man Horoscopes for {{month}} - {{day}} are:</h3>
<p>{{test}}</p>
<br>
<table>
    <tbody>
    {% for query in querys%}
        <tr>
            {{ query[0].title() }} | <a href = "{{ query[1] }}">Link</a>
            <br><br>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<form action="/birthday" method = "post">
    <label for="birthday">Enter in Birthday:</label><br>
    <input type="date" id="birthday" name="birthday"><br>
    <input type="submit" value="Submit">
  </form>

{% endblock %}




