{% extends "layout_v2.html" %}

{% block title %}
    Today
{% endblock %}

{% block main %}
<div class="container">
    <h3 id = "title">Flordia Man Horoscopes for {{month}} - {{day}}:</h3>
</div>
<br>
<div class="container" id = "results">
    <table class = "table">
        <thead>
            <tr></tr>
        </thead>
        <tbody>
        {% for query in querys%}
            <tr>
                <th scope="row">
                    <td>
                        <a href = "{{ query[1] }}">Link</a>
                    </td>
                    <td>
                        {{ query[0].title() }}  
                    </td>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<br>
<form action="/birthday" method = "post">
    <label for="birthday">Enter in Birthday:</label><br>
    <input type="date" id="birthday" name="birthday"><br>
    <input type="submit" value="Submit">
  </form><br>
  <p>Safari Desktop Users: Input date as YY-MM-DD</p>


  <h1>Month/Day Selector Form</h1>
  <p>Select your Birthday</p>
  
  <form name="birthday2" id="form1" action ="/birthday2" method = "POST">
    <select name="month" id="month">
            <option value="" selected="selected">Month</option>
    </select>
    <select name="day" id="day">
        <option value="" selected="selected">Day</option>
    </select>
      <input type="submit" value="Submit">  
  </form>
    
    </body>
  </html>
  

{% endblock %}




