{% extends "layout.html" %}

{% block title %}
    Horoscope
{% endblock %}

{% block main %}

<h3>The Flordia Man Horoscope for {{month}} - {{day}} are:</h3>
<br>
<table>
    <tbody>
    {% for query in querys%}
        <tr>
            {{ query[0].title() }} | <a href = "{{ query[1] }}">Link</a>
            <br><br>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h5>Enter in Birthday:<h5>
<form action="/birthday" method="post">

    <input type="date" id="birthday" name="birthday">
    <input type="submit" value="Submit">
</form>

{% endblock %}




